/* src/App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #333; /* Dark grey background color */
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555; /* Darker grey background color on hover */
}
